:root
{
    --background-color: #9DCDC0;
    --text-color: #D9F4C7;
}
html, body {
    background-color: var(--text-color);
    height: 100%;
    margin: 0;
    padding: 0;
}
/*
Mobile Layout
*/
.Right-panel{width:0%;height:0%;}
.Left-panel{width:0%;height:0%;}
.Center-panel{height:100%;width:100%;}
/*
Desktop Layout
*/
@media only screen and (min-width:1200px)
{
    .Center-panel{width:80%;height:10%;}

    .Right-panel{width:10%;height:100%;}

    .Left-panel{width:10%;height:100%}
}

@font-face
{
    font-family: pixelFont;
    src: url(fonts/pixel.ttf)
}
@font-face
{
    font-family: bodyFont;
    src: url(fonts/firacode.ttf)
}

.Home
{
    font-family: pixelFont;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Left-panel, .Right-panel, .Center-panel {
    height: 100%; /* Match parent height */
    background-color: var(--background-color);
}

.Center-panel
{
    background-color: var(--text-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(9px + 2vmin);
    color: var(--background-color);
}

.Profile
{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left:2%;
    margin-bottom: 2%;
}

.Profile-details
{
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: left;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.Profile-photo
{
    align-items: left;
    width: 35vmin;
    height: 35vmin;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
    animation: slideIn 1s ease-out forwards
}
@keyframes spin 
{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes sway-left
{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(35deg);
    }
}

@keyframes sway
{
    0% 
    {
        transform: rotate(-3deg);
    }
    50% 
    {
        transform: rotate(3deg);
    }
    100%
    {
        transform: rotate(-3deg);
    }

}

.Title
{
    text-align: left;
    font-size: calc(15px + 2vmin);
    margin-bottom: 10%;
    animation : slideDown 2s ease-out forwards, sway 4s infinite linear; 
}

@keyframes intro-fade-in 
{
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

.Links
{
    animation : intro-fade-in 2s forwards; 
    text-align: center;
    flex-direction: row;
    align-items: left;
    opacity: 0;
    animation-delay: 4s;
}
.logo
{
    height: 5vmin;

    margin-top: 1vmin;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;

    transition:0.5s;
    transform: scale(1);

    pointer-events: auto;
}
.logo:hover
{
    transition:0.5s;
    transform: scale(1.5);
    rotate: 2;
}

.Desc
{
    text-align: left;
    overflow:hidden;
    padding-bottom: 10px;
    white-space: nowrap;
    margin-top: 5%;
    letter-spacing: .15em;
    opacity : 0;
    font-size: calc(9px + 2vmin);
    animation: typing 3.5s steps(40,end) forwards;
    animation-delay: 2s;
}


@keyframes typing
{
    
    from {width:0;
        opacity:0;}
    to {width:100%;
        opacity:1; }
}

@keyframes desc-fade-in 
{
    from {
      opacity: 0;
      
    }
    to {
      opacity: 100;
    }
}

.Objective
{
    background-color: var(--background-color);
    color:var(--text-color);
    text-align: center;
    height:flex;
    padding-bottom:1%;
    padding-top:1%;
}

.Objective-body
{
    
    font-family: bodyFont;
    font-size: calc(5px + 2vmin);
}

.Coursework
{
    text-align: center;
    opacity : 0;
    animation : desc-fade-in 1.5s forwards;
    animation-delay: 1.5s;
}

.Coursework-body
{
    text-align: right;
    font-family: bodyFont;
    font-size: calc(5px + 2vmin);
    padding-left: 50px;
    padding-right: 50px;
}

.Bullet-Point
{
    height: calc(2vmin);
    padding-bottom: 0.5vmin;
    padding-top: 0.5vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    animation: spin 3s infinite linear;
}