/*
Mobile Layout
*/
.Right-panel{width:0%;height:0%;}
.Left-panel{width:0%;height:0%;}
.Center-panel{height:100%;width:100%;}
/*
Desktop Layout
*/
@media only screen and (min-width:200px)
{
    .Center-panel{width:80%;height:10%;}

    .Right-panel{width:10%;height:100%;}

    .Left-panel{width:10%;height:100%}
}

@font-face
{
    font-family: pixelFont;
    src: url(fonts/pixel.ttf)
}
@font-face
{
    font-family: bodyFont;
    src: url(fonts/firacode.ttf)
}

.Home
{
    font-family: pixelFont;
    background-color: #9DCDC0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Right-panel
{
    background-color: #9DCDC0;
}

.Left-panel
{
    background-color: #9DCDC0;
}

.Center-panel
{
    background-color: #D9F4C7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #9DCDC0;
}


@keyframes spin 
{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.Title
{
    text-align: center;
    animation : intro-fade-in 2s forwards; 
}

@keyframes intro-fade-in 
{
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

.Links
{
    animation : intro-fade-in 2s forwards; 
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.Devpost-logo
{
    height: calc(10px + 2vmin);

    margin-top: 1vmin;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;

    transition:0.5s;
    transform: scale(1);

    pointer-events: auto;
}

.Devpost-logo:hover
{
    transition:0.5s;
    transform: scale(1.5);
    rotate: 2;
}

.Github-logo
{
    height: calc(10px + 2vmin);

    margin-top: 1vmin;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;

    transition: 0.5s;
    transform: scale(1);

    pointer-events: auto;
}

.Github-logo:hover
{
    transition:0.5s;
    transform: scale(1.5);
    rotate: 2;
}

.Linkedin-logo
{
    height: calc(10px + 2vmin);

    margin-top: 1vmin;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;

    transition:0.5s;
    transform: scale(1);

    pointer-events: auto;
     
}

.Linkedin-logo:hover
{
    
    transition:0.5s;
    transform: scale(1.5);
    rotate: 2;
}

.Desc
{
    text-align: center;
    overflow:hidden;
    border-right:.1em5#9DCDC0;
    margin:0 auto;
    white-space: nowrap;
    letter-spacing: .15em;
    opacity : 0;
    animation: typing 3.5s steps(40,end) forwards,
    blink-caret .75s step-end infinite ;
    animation-delay: 2s;
}


@keyframes typing
{
    
    from {width:0;
        opacity:100;}
    to {width:100%; 
        opacity:100;}
}

@keyframes blink-caret
{
    from,to{border-color:transparent}
    50%{border-color:#9DCDC0;}
}


@keyframes desc-fade-in 
{
    from {
      opacity: 0;
      
    }
    to {
      opacity: 100;
    }
}

.Objective
{
    background-color: #9DCDC0;
    color:#D9F4C7;
    text-align: center;
}

.Objective-body
{
    
    font-family: bodyFont;
    padding-bottom: 10%;
    font-size: calc(5px + 2vmin);
}

.Coursework
{
    text-align: center;
    opacity : 0;
    animation : desc-fade-in 1.5s forwards;
    animation-delay: 1.5s;
}

.Coursework-body
{
    text-align: right;
    font-family: bodyFont;
    font-size: calc(5px + 2vmin);
}