:root
{
    --tiel: #9DCDC0;
    --green: #D9F4C7;
    --black: #545454;
    --red: #D5B9B2;
    --purple: #e8d7f1
}

.gif-overlay {
    position: fixed;
    top: 0;
    opacity: 7%;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    pointer-events: none;
}
html, body {
    height: 100%;
    width:100%;
    background-color: #D9F4C7;
}

/*
Mobile Layout
*/
.Right-panel{width:0%;height:0%;}
.Left-panel{width:0%;height:0%;}
.Center-panel{height:100%;width:100%;}
/*
Desktop Layout
*/
@media only screen and (min-width:1200px)
{
    .Center-panel{width:90%;height:100%;}

    .Right-panel{width:5%;height:100%;}

    .Left-panel{width:5%;height:100%;}
}

@font-face
{
    font-family: pixelFont;
    src: url(fonts/pixel.ttf)
}
@font-face
{
    font-family: bodyFont;
    src: url(fonts/firacode.ttf)
}

.Home
{
    font-family: pixelFont;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: normal;
    padding: 0;
}

.Down-arrow{
    width: 10%;
}

.Center-panel
{
    background-color: var(--green);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: calc(9px + 2vmin);
    color: var(--black);
}
.Left-panel, .Right-panel{
    height: 100%; /* Match parent height */
    background-color: black;
}

.NavBar
{
    overflow: hidden;
    position:fixed;
    flex-direction: row;
    font-weight:600;
    display: flex;
    border-bottom: var(--black);
    border-bottom-style:solid;
    top:0;
    left:0;
    z-index:9998;
    width: 100%;
    height:3%;
    font-size: 3vmin;
    background-color:var(--black);
    padding: 0.5%;
    color:white;
}
.Resume-download
{
    position: fixed;
    top: 75%; 
    left: 0; 
    transform: translateY(-50%);
    background-color: #9DCDC0;
    color: #FFFFFF;
    border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
    font-size: 1.5vmin;  /* Adjusted font size for readability */
    width: auto;
    padding: 10px 20px; /* Adjusted padding for better spacing */
    z-index: 9998;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.Resume-download:hover 
{
    background-color: #8AC0B3;  /* Slightly darker color on hover */
    transform: translateY(-50%) scale(1.05); /* Subtle zoom effect on hover */
}
  
.Download-link 
{
    width: auto;  /* Set width to auto to avoid stretching */
    height: auto;  /* Set height to auto */
    max-width: 30px; /* Control size of the icon */
    max-height: 30px; /* Control size of the icon */
    margin-right: 10px; /* Add space between the icon and text */
    vertical-align: middle; /* Align icon with the text */
}
  
.Resume-download a 
  {
    display: flex;
    align-items: center;  /* Align the icon and text */
    text-decoration: none;  /* Remove underline from link */
    color: #FFFFFF;  /* Ensure text color matches the background */
  }
  
.Resume-download a:hover .Download-link 
  {
    transform: scale(1.1);  /* Slightly enlarge the icon when hovering */
  }

.NavBarLeft
{
    width: 50%;
    text-align:left;
}   

.NavBarRight
{
    width: 50%;
    text-align: right;
    padding-right: 1%;
}

a.nav-link:link
{
    color:white;
    text-decoration: none;
}
a.nav-link:visited
{
    color:white;
    text-decoration: none;
}

.Profile
{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 5%;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 0%;
}

.Profile-details
{
    width: 100%;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes slideIn {
    from {
        left: -100px;
        opacity: 0;
    }
    to {
        left:0px;
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.Profile-photo
{
    margin: 5%;
    margin-left: 0%;
    align-items: left;
    width: 20%;
    height: 20%;
    position: relative;
    animation: slideIn 1s ease-out forwards;
    transition:0.5s;
    transform: scale(1);
    z-index: 9997;
}
.Profile-photo:hover
{
    transition: 0.5s;
    transform: scale(1.25);
    z-index: 9997;
}

.Title
{
    text-align: center;
    font-size: calc(20px + 2vmin);
    font-weight: 10px;
    width:80%;
    background-color: var(--tiel);
    animation: slideDown 1s ease-out forwards;
    border-radius: 10px; 
    box-shadow: 0px 2px 4px var(--black); 
    padding: 10px 20px; 
}

@keyframes intro-fade-in 
{
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

.Links
{
    animation : intro-fade-in 2s forwards; 
    text-align: left;
    flex-direction: row;
    opacity: 0;
    animation-delay: 5s;
}

.logo
{
    height: 5vmin;
    margin: 1%;
    transition:0.5s;
    transform: scale(1);

    pointer-events: auto;
}

.logo:hover
{
    transition:0.5s;
    transform: scale(1.5);
    rotate: 2;
    z-index: 9995;
}

.Desc
{
    text-align: left;
    overflow:hidden;
    white-space: nowrap;
    margin-top: 5%;
    letter-spacing: .15em;
    opacity : 0;
    font-size: 3.5vmin;
    animation: intro-fade-in 1s forwards, typing 5s steps(70,end) forwards;
    animation-delay: 1s;
}

@keyframes typing
{
    
    from {width:0;}
    to {width:100%;}
}

@keyframes desc-fade-in 
{
    from {
      opacity: 0;
      
    }
    to {
      opacity: 100;
    }
}

.Body
{
    animation: slideIn 1s forwards ease-in;
    animation-delay: 5s;
    opacity: 0;
}

.Objective
{
    color:var(--black);
    text-align: center;
    width: 100%;
}

.Objective-body
{
    background-color: var(--tiel);
    border-radius: 10px; 
    box-shadow: 0px 2px 4px var(--black); 
    font-family: bodyFont;
    font-size: 2vmin;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
    margin-bottom: 5%;
    padding: 5%;
    font-weight: normal;
}

.Experience-header
{
    text-align: center;
    width: 100%;
}

.Experience-title
{
    text-align: center;
    padding:2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
    margin-bottom: 5%;
    background-color: var(--tiel);
    border-radius: 10px; 
    box-shadow: 0px 2px 4px var(--black); 
    font-weight: bold;
}

.Experience-specs
{
    font-weight: normal;
}

.Experience-detail
{
    font-family: bodyFont;
    font-size: 2vmin;
    text-align: left;
    margin: 5%;
    font-weight: normal;
    
}

.Button-lists
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.Details-section
{
    text-align: center;
    margin:5;
    margin:1%;
}
.Details-header
{
    box-shadow: 0px 2px 4px var(--black);
    padding: 12px 24px;
    font-family: pixelFont;
    font-size: 3vmin;
    background-color: var(--tiel); 
    border-radius: 10px; 
    box-shadow: 0px 2px 4px var(--black);
    color: var(--black);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.Details-body
{
    background-color: var(--tiel);
    border-radius: 10px; 
    box-shadow: 0px 2px 4px var(--black); 
    text-align: left;
    font-family: bodyFont;
    font-size: 2vmin;
    margin-left:10%;
    margin-right:10%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
}

.Details-body.open{
    max-height: 100%;
    padding:5%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Bullet-Point
{
    height: 1.5vmin;
    margin-top: 1.2vmin;
    margin-right: 0.75vmin;
    animation: spin 3s infinite linear;
}

.Projects-container,
.Awards-container {
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-items: center;  /* Center items inside each grid cell */
    
}

.Projects-body,
.Awards-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1%; 
    margin-top: 5%; 
    text-align: left;
}

.Project-image
{
    width: 100%;
    height: auto; 
    object-fit: cover; 
    max-width: 80%;
    max-height: 80%; 
    margin: 0 auto; 
    padding: 0;
    display: block;
}

.Project,
.Award {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--tiel);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    padding:10%;
    padding-bottom: 0%;
}
.Project:hover,.Award:hover
{
    transition:0.5s;
    transform: scale(1.1);
    z-index: 9995;
}

.Project-title,
.Award-title {
    font-weight: bold;
    margin: 5%;
    text-align: center;
}
.Project-specs,
.Award-specs {
    margin: 2%;
    text-align: center;
}
.Project-subtitle,
.Award-subtitle {
    text-align: center;
    margin:2%;
    height:100%;
    width:100%;
}

.Project-body,
.Award-body {
    margin:2%;
    height:100%;
    width:100%;
    text-align: left;
    font-family: bodyFont;
    font-size: 2vmin;
}
.Project-link
 {
    background-repeat: no-repeat;
    display: block;
    background-image: url('./images/project-link-static.png');
    justify-content: center;
    animation-play-state: paused;  
    transition: animation 0.3s ease-in-out; 
}
.Work-link
 {
    object-fit: cover;
    display: block; 
    background-image: url('./images/project-link-static.png');
    margin: 0 auto; 
    justify-content: center;
    font-weight: normal;
    display: flex;                /* Activate flexbox */
    flex-direction: column;       /* Stack children vertically */
    align-items: center;          /* Center the link horizontally */
    justify-content: flex-start;  /* Align children to the top */
    animation-play-state: paused;  
    transition: animation 0.3s ease-in-out;  
}
.Award-link
{
    object-fit: cover;
    max-width: 50%; 
    max-height: 30%;
    display: block; 
    margin: 0 auto;
    justify-content: center;
    animation-play-state: paused;
    transition: animation 0.3s ease-in-out; 

}
.Work-link:hover,.Project-link:hover
{
    background-image: url('./images/project-link.gif'); 
}

.Details-section b {
    font-family: pixelFont;
}

.Footer {
    background-color:var(--black);;
    color: #ecf0f1;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
    width:100%;
}

.Footer-content p {
    margin: 0;
    font-size: 1rem;
}

.Footer-links {
    margin-top: 0.5rem;
}

.Footer-links a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1rem;
}

.Footer-links a:hover {
    text-decoration: underline;
}
